{% extends "_subbase.html" %}

{% block base_content %}

<div id="wrapper-outer">
  <div id="wrapper-inner">

    <header class="pageheader">
      <div class="container">
        <h1>KORG</h1>
        <h2>
          <div class="title">Volca sample</div>
          <div class="subtitle">DIGITAL SAMPLE SEQUENCER</div>
        </h2>
      </div>
    </header>

    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('ui.bank_index') }}">Banks</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('ui.sample_index') }}">Samples</a>
            </li>

          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}
  
            {% set class="alert-info" %}
            {% set fas_class="fa-comment" %}
  
            {% if category == "warning" %}
              {% set class="alert-warning" %}
              {% set fas_class="fa-exclamation" %}
            {% elif category == "error" %}
              {% set class="alert-danger" %}
              {% set fas_class="fa-exclamation" %}
            {% elif category == "success" %}
              {% set class="alert-success" %}
              {% set fas_class="fa-check" %}
            {% endif %}
  
  
              <div class="justify-content-center">
                <div class="alert {{class}}" role="alert">
                    <i class="fas {{fas_class}}"></i>
                    <span class="sr-only">{{category}}:</span>
                    {{message}}
                </div>
            </div>

          {% endfor %}
        {% endwith %}
  
        {% block errors %}{% endblock %}
    </div>
          
    <div id="content" class="container">
      {% block content %}{% endblock %}
    </div>

  </div>
</div>

<div class="container">
  <footer>
      Copyright &copy; {{ current_year }} Richard Bramley
  </footer>
</div>
{% endblock %}
