{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% set bank_class = 'active' %}

{% block submenu %}
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#uploadModal" href="javascript://">Upload</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('ui.bank_stop') }}">Stop</a>
    </li>
{% endblock %}

{% block content %}
<section>
    <ul class="list-group">
        {% for b in banks.items %}
            <li class="list-group-item">
                <header>
                    <h1>{{ b.name }}</span></h1>
                    <h2>Created {{ b.created_datetime | date_format }}</h2>
                </header>

                <a class="btn btn-secondary" href="{{ url_for('ui.bank_load', id=b.id) }}">Load Bank</a>
            </li>
        {% endfor %}
    </ul>
</section>

<!-- Upload Dialog -->
<div class="modal fade" id="uploadModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Bank</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('ui.bank_upload') }}" method="POST" enctype="multipart/form-data">
                    {{ formhelper.render_form(upload_form, submit_label="Upload") }}

                    <div class="modal-footer">
                        {{ formhelper.render_button_bar(submit_label='Upload', modal_cancel=True) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}

