{% extends "_base.html" %}
{% import "_formHelpers.html" as formhelper %}

{% set bank_class = 'active' %}

{% block submenu %}
    <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#uploadModal" href="javascript://">Upload</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('ui.bank_stop') }}">Stop</a>
    </li>
{% endblock %}

{% block content %}
<section>
    <ul class="list-group">
        {% for b in banks.items %}
            <li class="list-group-item">
                <header>
                    <h1>{{ b.name }}</span></h1>
                    <h2>Created {{ b.created_datetime | date_format }}</h2>
                </header>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loadModal" data-bank-id="{{ b.id }}" data-bank-name="{{ b.name }}">Load Bank</button>
            </li>
        {% endfor %}
    </ul>
</section>

<!-- Upload Dialog -->
<div class="modal fade" id="uploadModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Bank</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('ui.bank_upload') }}" method="POST" enctype="multipart/form-data">
                    {{ formhelper.render_form(upload_form, submit_label="Upload") }}

                    <div class="modal-footer">
                        {{ formhelper.render_button_bar(submit_label='Upload', modal_cancel=True) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Load Dialog -->
<div class="modal fade" id="loadModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="loadModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Loading Bank</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <p id="update-message"></p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script>
    function load_progress(modal){
        $.getJSON("{{ url_for('ui.bank_load_status') }}", {}, function(data) {
            if (data.status == 'playing'){
                pbar = modal.find('.progress-bar')
                pbar.attr('aria-valuemax', data.duration)
                pbar.attr('aria-valuenow', data.elapsed)
                perc = Number(data.percentage) + "%";
                pbar.text(perc)
                pbar.css("width", perc);

                modal.find('#update-message').text(Number(data.elapsed) + 's of ' + Number(data.duration) + 's uploaded.')

                setTimeout(function(){ load_progress(modal); }, 1000);
            } else {
                modal.modal('hide');
            }
        });
    }
    
    $('#loadModal').on('show.bs.modal', function (event) {
        var triggering_button = $(event.relatedTarget);
        var bank_id = triggering_button.data('bank-id');
        var bank_name = triggering_button.data('bank-name');

        var modal = $(this);
        modal.find('.modal-title').text('Loading Bank ' + bank_name);

        pbar = modal.find('.progress-bar')
        pbar.attr('aria-valuemax', 100)
        pbar.attr('aria-valuenow', 0)
        perc = "0%";
        pbar.text(perc)
        pbar.css("width", perc);

        modal.find('#update-message').text('Starting load...')

        $.getJSON("{{ url_for('ui.bank_load') }}", {
            bank_id: bank_id,
        }, function(data) {
            setTimeout(function(){ load_progress(modal); }, 1000);
        });

    });
</script>
{% endblock %}

